app/node_modules
dist
build/
.env
!.env.sample

node_modules/
out/
cache/
cache_hardhat/
artifacts/
typechain-types/
**/ignition/deployments/

incentive/api/private-keys/*
incentive/api/scripts/storage/*
incentive/api/src/storage/*
